.board {
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  background: var(--gradient, #333333);
  padding: 1rem;
  border-radius: .25rem;
}

.board--with-error > .board__tile {
  color: var(--color-red-dark);
}

.board__tile {
  position: relative;
  min-height: 8rem;
  max-height: 8rem;
  min-width: 8rem;
  max-width: 8rem;
  background-color: rgba(255, 255, 255, .9);
  border-radius: .25rem;
  color: #0b6382;
}

.board__tile::after {
  content: attr(data-coordinates);
  position: absolute;
  bottom: .25rem;
  right: .25rem;
  color: #0b638255;
}