main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem 0;
  padding: 2rem 0;
}

main > * {
  width: fit-content;
}
