.robot {
  width: 4rem;
  height: 4rem;
}

.robot__wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot__direction-indicator {
  position: absolute;
  width: 8rem;
  height: 8rem;
}

.robot__direction-indicator--NORTH {
  transform: rotate(180deg);
}

.robot__direction-indicator--EAST {
  transform: rotate(270deg);
}

.robot__direction-indicator--SOUTH {
  transform: rotate(0deg);
}

.robot__direction-indicator--WEST {
  transform: rotate(90deg);
}
